/* brown-cyan color scheme https://github.com/cormullion/ColorSchemes.jl
    starting brown, lightest at co5 and co6, blue at 9 */
:root {--co1: rgb(89,51,22);
--co2: rgb(143,107,74);
--co3: rgb(186,157,131);
--co4: rgb(210,195,178);
--co5: rgb(213,225,219);
--co6: rgb(194,239,243);
--co7: rgb(163,236,248);
--co8: rgb(129,218,239);
--co9: rgb(87,166,197);	}
/*
1 pt = 1 typographical point (as used in MS Word) =  0.352777mm
1 px = 0.26458333 mm, on low resolution devices px = pixel.
1 pc = 1 pica = 12 pt = 4.2324 mm
0.5 pt = 'thin visible border line on paper' = 0.1763888 mm
12 pt = 4.23324 mm
10 pt = 3.52777 mm
5 pt = 1.7638850 mm
*/
body {
     margin:0 0 0 0;
     background:var(--co1);
   }

svg.a3 {
   margin:10mm;
   border:none;
   padding:0;
   }

g.paper {
    margin:0mm;
    }

rect.paper{width:100%; height:100%; /* paper dimensions determined by parent class*/
    fill-opacity:1.0;
   }
header, footer {padding: 0.5em 0.5em 0.8em 0.5em;
    margin:0 -0.5em 0em -0.5em;
    width:100%;
    clear:both;
    background:var(--co2);
    color:var(--co7);
   }
footer{position:fixed;
    bottom:0;
    left:0;
   }

button { border-radius: 0.3em;
    background:var(--co3);
    border-color:var(--co4);
    color:var(--co5)}
button.zoom-out {border-radius: 0.67em 0 0 0.67em;}
button.zoom-in {border-radius: 0 0.67em 0.67em 0;}
button.previous {border-radius: 0.67em 0 0 0.67em;}
button.next {border-radius: 0 0.67em 0.67em 0;}
input {vertical-align: bottom;}
input[type="text"] {color:var(--co9);
                     text-align:center;
                     background-color:var(--co5);}
text {
    font-family: Calibri, Helvetica, sans-serif;
    line-height: 1.0;
    pointer-events: all;
    fill:black;
    border:0;
   }
text:hover {stroke-width:0.05em;stroke:var(--co9)}
circle {stroke:var(--co2);
    fill:var(--co3);
    fill-opacity:0.6;
    stroke-width:.05em;
    stroke-opacity:0.6;
    }


textarea {
   -webkit-appearance: none;
   -moz-appearance:none;
   font-family: Calibri, Helvetica, sans-serif;
   font-size: inherit; /* 1 */
   line-height: inherit; /* 1 */
   margin: inherit; /* 2 */
   background:inherit;
   border:inherit;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   border:none;
   resize: none;
}

.co1{stroke:var(--co1);fill:var(--co1);}
.co2{stroke:var(--co1);fill:var(--co2);}
.co3{stroke:var(--co2);fill:var(--co3);}
.co4{stroke:var(--co3);fill:var(--co4);}
.co5{stroke:var(--co4);fill:var(--co5);}
.co6{stroke:var(--co5);fill:var(--co6);}
.co7{stroke:var(--co6);fill:var(--co7);}
.co8{stroke:var(--co7);fill:var(--co8);}
.co9{stroke:var(--co8);fill:var(--co9);}
/* markdown editor / codemirror puts its visible content in divs.
   We could use that to block inheritance from the svg*/

div {font-size:0.2645833rem;}
